* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-bottom: 100px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background: #1d1e20;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* FLEXBOX1 */
.flex .flex-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flex .flex-content > div {
  flex: 1 1 200px;
  margin: 10px;
}
/* /FLEXBOX1 */

/* GRID 1 */
.grid1 .grid1-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 .grid1-content > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.grid1 .grid1-content > div.ad {
  display: block;
  grid-column: 1;
  grid-row: 2 / span 3;
}

@media (max-width: 600px) {
  .grid1 .grid1-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid1 .grid1-content > div:nth-child(n + 4) {
    display: block;
  }

  .grid1 .grid1-content > div.ad {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}
/* /GRID 1 */

/* GRID 2 */

.grid2 .grid2-content {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.sidebar > li + li {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .grid2 .grid2-content {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: flex;
    overflow: scroll;
  }

  .sidebar > li {
    flex: 1 0 200px;
    margin: 0 10px 10px 0 !important;
  }
}

/* /GRID 2 */

/* GRID 3 */
.grid3 .grid3-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.grid3 .grid3-content > div:nth-child(1) {
  grid-row: 1 / 3;
  grid-template-rows: 1fr minmax(1px, auto);
}

.grid3 .grid3-content > div:nth-child(1) img {
  height: 90%;
  object-fit: cover;
}

.grid3 .grid3-content > div {
  display: grid;
  align-items: end;
}

.grid3 .grid3-content > div img {
  grid-column: 1;
  grid-row: 1/3;
}

.grid3 .grid3-content > div p {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  grid-column: 1;
  grid-row: 2/3;
}
/* /GRID 3 */
